.css-BackHeader-1vc47w0 { width: 100%;
  font-weight: 800;
  font-size: 40px;
  line-height: 30px;
  color: #31314c;
  left: -4px;
  bottom: -2px;
  position: relative; }
.css-BackHeader-1vc47w0 span { color: #FFF; font-size: 14px; position: absolute; left: 6px; font-weight: 400; top: 20px; text-transform: uppercase; letter-spacing: 1.2px; }