@import "../../styles/helpers";

.table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: $dashboard-bg-main;
  overflow: hidden;
  ul {
    padding: 0;
    margin: 0;
  }
  ul.table-body {
    height: 470px;
    overflow-y: scroll;
    .col {
      border-bottom: 1px solid $dashboard-bg-main;
      border-top: 0px;
      padding: 12px;
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      position: relative;
      .details {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url("../../assets/images/more.svg");
        background-position: center;
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        background-size: 18px;
        cursor: pointer;
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
      }
      &:last-child {
        border-left: 1px dashed $dashboard-bg-main;
      }
    }
    &.two-col {
      .col {
        width: 25%;
        &:first-child {
          width: 75%;
        }
      }
      .flex-li {
        display: flex;
        .col {
          position: static;
          display: flex;
          flex-grow: 1;
          align-items: center;
          .module-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .details {
            position: static;
            transform: none;
            width: 60px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.header {
  background: $dashboard-bg-darkest;
  width: 100%;
  border-bottom: 1px solid $dashboard-bg-main;
  li {
    display: inline-block;
    font-size: 11px;
    color: $foreground-main;
    letter-spacing: 0.7px;
    font-weight: bold;
    padding: 15px 20px;
    position: relative;
    height: 75px;
    cursor: pointer;
    &.selected {
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 3px solid $foreground-vibrant-b;
        display: block;
        width: 100%;
        height: 3px;
      }
    }
    &:hover {
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 3px solid $foreground-vibrant-b;
        display: block;
        width: 100%;
        height: 3px;
      }
    }
    .type {
      text-transform: uppercase;
    }
    .count {
      opacity: 0.8;
    }
  }
  li.cjs {
    .percentage {
      color: $foreground-vibrant-b;
    }
  }
  li.esm {
    .percentage {
      color: $foreground-success;
    }
  }

  li.mixed {
    .percentage {
      color: $foreground-vibrant-c;
    }
  }
}
