$footer-bg: #2a3351;
$progress-bg: #1e263f;
$progress-fg: linear-gradient(
  180deg,
  #6e78ff 0%,
  #b851f3 30%,
  #da6ebf 30%,
  #f4b8ad 100%
);
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: $footer-bg;
  display: flex;
  align-items: center;
  box-shadow: 0 -3px 20px 0 rgba(37, 45, 71, 0.34);
  padding: 0px 80px;
  z-index: 99;
}

.progress {
  width: 100%;
  height: 40px;
  background: $progress-bg;
}

.wrapper {
  width: 100%;
  height: 40px;
  display: block;
}

.bar {
  width: 100%;
  display: block;
  height: 40px;
  background-image: linear-gradient(
    90deg,
    #6e78ff 0%,
    #b851f3 30%,
    #da6ebf 60%,
    #f4b8ad 100%
  );
}
