
$footer-bg: #2A3351;
$progress-bg: #1E263F;
$progress-fg: linear-gradient(180deg, #6E78FF 0%, #B851F3 30%, #DA6EBF 30%, #F4B8AD 100%);
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: $footer-bg;
  display: flex;
  align-items: center;
  box-shadow: 0 -3px 20px 0 rgba(37,45,71,0.34);
  padding: 0px 80px;
  z-index: 99;
}

.progress {
  width: 100%;
  height: 40px;
  background: $progress-bg;
}

.wrapper {
  width: 100%;
  height: 40px;
  display: block;
}

.bar {
  width: 100%;
  display: block;
  height: 40px;
  background-image: linear-gradient(90deg, #6E78FF 0%, #B851F3 30%, #DA6EBF 60%, #F4B8AD 100%);
}