@import "../../styles/variables";

.budget {
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 13px;
  display: flex;
  align-items: flex-start;
  align-content: space-between;
  flex-flow: row wrap;

  .item {
    background: $dark;
    flex: 1;
    margin: 0.5rem;
    height: 90px;
    padding: 20px;

    h5 {
      font-size: $tiny;
      font-weight: bold;
      color: rgb(240, 240, 240);
      text-transform: uppercase;
      letter-spacing: 0.7px;
      margin-bottom: 10px;

      span {
        font-size: 12px;
        font-weight: 300;
        text-transform: none;
      }
    }

    .values {
      display: flex;
      align-items: center;
      font-weight: 400;

      label {
        font-size: 14px;
        color: rgb(240, 240, 240);
      }

      .time {
        margin: 0 0.5rem;
      }

      .high {
        background: #ff4a50;
        color: #fff;
        padding: 4px 15px;
        border-radius: 2px;
      }

      .low {
        background: $blue;
        color: $dark;
        padding: 4px 15px;
        border-radius: 2px;
      }
    }
  }
}
