@import "../../styles/variables";

.budget {
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  .item {
    background: $dark;
    flex: 1 0 25%;
    align-items: center;
    justify-content: center;
    margin: 0 15px 15px 0px;
    height: 90px;
    padding: 20px;
    &:nth-child(3n + 3) {
      margin-right: 0px;
    }
    h5 {
      font-size: $tiny;
      letter-spacing: 1.2;
      font-weight: bold;
      color: rgb(240, 240, 240);
      text-transform: uppercase;
      letter-spacing: 0.7px;
      margin-bottom: 10px;
      span {
        font-size: 12px;
        font-weight: 300;
        text-transform: none;
      }
    }
    .values {
      display: flex;
      align-items: center;
      font-weight: 400;
      label {
        font-size: 14px;
        color: rgb(240, 240, 240);
      }
      .time {
        margin-left: auto;
        margin-right: 8px;
      }
      .high {
        background: #ff4a50;
        color: #fff;
        padding: 4px 15px;
        border-radius: 2px;
      }
      .low {
        background: $blue;
        color: $dark;
        padding: 4px 15px;
        border-radius: 2px;
      }
    }
  }
}
