@import "../../styles/variables";

.terminal {
  background: $dark;
  height: 100%;
  width: 100%;
  padding: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
}
