@import "../../styles/variables";

.terminals {
  background: $dark;
  overflow: hidden;
  height: 100%;
  width: 100%;
  .tabs {
    width: 100%;
    height: 42px;
    overflow-x: auto;
    overflow-y: hidden;
    background: $darkest;
    border-bottom: 1px solid #1c2237;
    .tab {
      padding: 11px 12px;
      line-height: 42px;
      text-transform: uppercase;
      font-size: 11px;
      color: #ffffff;
      letter-spacing: 0.7px;
      transition: color 0.18s;
      font-weight: bold;
      cursor: pointer;
      display: inline;

      &:hover,
      &.active {
        border-bottom: 3px solid #f7857d;
      }

      &.failed {
        color: #ff4a50;
      }

      .close {
        padding-left: 8px;
        padding: 2px 4px 2px 6px;
        margin-left: 10px;
        border-radius: 50%;
        &:hover {
          color: $dark;
          background: #ff4a50;
        }
      }
    }
  }
  .terminal {
    padding: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100% - 42px);
    .output {
      font-family: "Source Code Pro", monospace;
      font-size: 14px;
      .terminal-input {
        transition: color 0.18s;
      }
      .terminal-running {
        animation: Heartbeat 0.618s infinite alternate;
      }
    }
    .commands {
      display: grid;
      grid-column-gap: 8px;
      grid-row-gap: 8px;
      grid-template-columns: 33.3% 33.3% 33.3%;
      button {
        height: 72px;
        padding: 10px 32px;
        text-overflow: ellipsis;
        white-space: nowrap;
        appearance: none;
        transition: background-color 0.18s;
        background: $stilldark;
        display: inline-grid;
        font-size: 15px;
        font-weight: 700;
        line-height: 1.47;
        cursor: pointer;
        overflow: hidden;
        border: none;
        color: #fff;
        .script {
          font-weight: 500;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: #e1e1e5;
          font-size: 11px;
        }
        &:hover {
          background-color: #b82df6;
        }
        &.command-running {
          cursor: default;
          color: #06ffff;
          animation: Heartbeat 0.618s infinite alternate;
          &:hover {
            background-color: $stilldark;
          }
          .script {
            color: #02e9e9 !important;
          }
        }
      }
    }
  }
}

@keyframes Heartbeat {
  from {
    opacity: 0.47;
  }
  to {
    opacity: 1;
  }
}
