@import "fonts";
@import "grid";
@import "themes/default/config.scss";

html {
  color: $foreground-dark;
  text-rendering: optimizeLegibility;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  background: $dashboard-bg-main;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.chart-base {
  width: 100%;
  overflow: hidden;
}

ul {
  padding: 0;
  list-style-type: none;
}

#app {
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  position: relative;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    180deg,
    $window-bg-color-b 0%,
    $window-bg-color-a 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $foreground-dark;
    opacity: 0.1;
    z-index: 1;
  }
}

.board {
  background: $dashboard-bg-darker;
  width: 100%;
  max-width: 2800px;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 6px 20px 0 $dashboard-shadows;
  color: $foreground-main;
  z-index: 99;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .widget {
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow-y: auto;
    max-height: 455px;
  }
}

::-webkit-scrollbar {
  width: 16px;
  background: $dashboard-bg-main;
}

::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  background-clip: padding-box;
  padding: 2px;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);

  &:hover {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.6);
  }
}

.stats-success {
  &-head {
    color: $foreground-success;
    margin-bottom: 1rem;
  }

  &-dev {
    color: $foreground-vibrant-d;
    margin-bottom: 1rem;
  }

  &-footer {
    color: $green;
    margin-bottom: 1rem;
  }
}
