@import "fonts";
@import "variables";
@import "grid";
@import "backgrounds";

html {
  color: #6c6d74;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  background: $dark;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

a {
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

* {
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 60px;
  background: $darker;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  align-items: center;
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.chart-base {
  width: 100%;
  overflow: hidden;
}

ul {
  padding: 0;
  list-style-type: none;
}

#app {
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  position: relative;
  display: flex;
  align-items: center;
  background-image: linear-gradient(180deg, #f476b7 0%, #8041ee 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.1;
    z-index: 1;
  }
}

.board {
  background: $darker;
  width: 100%;
  max-width: 2800px;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 6px 20px 0 rgba(37, 45, 71, 0.34);
  color: #e1e1e5;
  z-index: 99;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .widget {
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow-y: auto;
    max-height: 455px;
  }
}

::-webkit-scrollbar {
  width: 16px;
  background: $dark;
}

::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  background-clip: padding-box;
  padding: 2px;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);

  &:hover {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.6);
  }
}
