@import "../../styles/variables";

.nav {
  h5 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    color: #de6ba8;
    background-color: #de6ba8;
    background-image: linear-gradient(
      -90deg,
      #e6e6e4 3%,
      #b1b1b1 45%,
      #d2d2d2 73%,
      #cac9c9 96%
    );
    text-transform: uppercase;
    span {
      margin: 0 10px;
    }
  }
}
