$text-color: var(--color-light);

$icons: (
  project: "../../assets/project.svg",
  version: "../../assets/version.svg",
  makers: "../../assets/team.svg",
  snippets: "../../assets/snippets.svg"
);

.nav {
  display: grid;
  grid-gap: 0 0.5rem;
  grid-template-columns: repeat(2, minmax(min-content, max-content)) 1fr 80px;
  padding: 0 1rem;
  width: 100%;
  background: var(--dashboard-bg-darker);
  border-radius: 16px 16px 0 0;

  li {
    color: var(--color-main);
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }

  &-link {
    color: var(--color-main);
    padding-left: 5px;
    padding-right: 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  @each $key, $val in $icons {
    .#{$key}::before {
      margin-right: 0.5rem;
      vertical-align: middle;
      content: url(#{$val});
    }
  }
}
