@import "../../styles/variables";

$text-color: rgba(255, 255, 255, 0.7);

$icons: (
  project: "../../assets/project.svg",
  version: "../../assets/version.svg",
  makers: "../../assets/team.svg",
  snippets: "../../assets/snippets.svg"
);

.nav {
  display: grid;
  grid-gap: 0 1rem;
  grid-template-columns: 100px 50px 1fr 80px;
  padding: 0 1rem;
  width: 100%;
  background: $darker;
  border-radius: 16px 16px 0 0;

  li {
    color: $text-color;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }

  &-link {
    color: $text-color;
    padding-left: 5px;
    padding-right: 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  @each $key, $val in $icons {
    .#{$key}::before {
      margin-right: 0.5rem;
      vertical-align: middle;
      content: url(#{$val});
    }
  }
}
