@import "../../styles/variables";

.nav {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    width: 100%;
    padding-left: 5px;
    li {
      padding-left: 24px;
      margin-right: 20px;
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 16px;
      color: rgba(255, 255, 255, 0.7);
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      &.project {
        background-image: url("../../assets/project.svg");
      }
      &.version {
        background-image: url("../../assets/version.svg");
      }
      &.makers {
        background-image: url("../../assets/team.svg");
      }
      &.repo {
        background-image: url("../../assets/repo.svg");
      }
      &.snippets {
        background-image: url("../../assets/snippets.svg");
      }
      &.chuckright {
        margin-left: auto;
      }
    }
  }
}
