.css-grid-1yu33jf { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-box-lines: multiple;
  flex-wrap: wrap;
  list-style: none;
  margin: -25px 0 0 -25px;
  padding: 0 50px;
  margin-bottom: 160px; }
.css-cell-1t6ajpw { -webkit-flex: 1; -ms-flex: 1; flex: 1;
  position: relative;
  padding: 25px 0 0 25px; }
.css-center-6irssd { -webkit-align-items: center; -ms-flex-align: center; -webkit-box-align: center; align-items: center; }
.css-third-1qig6br { -webkit-flex: 0 0 33.3333%; -ms-flex: 0 0 33.3333%; flex: 0 0 33.3333%;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex }
.css-half-16hzn0b { -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex }
.css-justifyCenter-xf7v2y { -webkit-justify-content: center; -ms-flex-pack: center; -webkit-box-pack: center; justify-content: center; }
.css-Board-jejxkh { width: 100%;
  height: 100vh;
  background-position: top center;
  background-size: 1288px 900px;
  background-repeat: no-repeat;
  background-color: var(--css-Board-jejxkh-0);
  padding-top: 150px }