h3 {
  font-size: 27px;
  font-weight: 300;
  color: var(--color-main);
  line-height: 35px;
}
p.note {
  font-weight: 300;
  font-size: 12px;
  color: var(--color-main);
  opacity: 0.7;
}

.card-header {
  padding: 20px 20px 7px 20px;
  font-size: var(--font-body-xs);
  color: var(--color-dark);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.7px;
  line-height: 20px;
}

.mini {
  height: 145px;
  width: 100%;
  margin-bottom: 5px;
  p,
  h3 {
    padding-left: 20px;
  }
  .progress-bar {
    margin-top: 20px;
  }
  &.fire {
    background: linear-gradient(
      315deg,
      var(--color-data-1) 0%,
      var(--color-data-2) 100%
    );
  }
  &.evening {
    background: linear-gradient(
      315deg,
      var(--color-data-3) 0%,
      var(--color-data-4) 100%
    );
  }
  &.berry {
    background: linear-gradient(
      315deg,
      var(--color-data-5) 0%,
      var(--color-data-6) 100%
    );
  }
}

.progress-bar {
  width: 100%;
  height: 3px;
  position: relative;
  background: var(--dashboard-bg-lightest);
  .progress {
    background: var(--color-main);
    height: 100%;
  }
}

.bees {
  p {
    color: var(--color-dark);
  }
  .progress {
    background: var(--dashboard-bg-main);
  }
}
