.superlink {
  width: 38px;
  height: 38px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  border-radius: 2px;
  background-color: var(--dashboard-bg-darkest);
  &.google {
    background-image: url("/assets/google.svg");
  }

  &.stackoverflow {
    background-image: url("/assets/stackoverflow.svg");
  }
}
