.css-panel-panrgg { position: relative;
  height: 225px;
  margin-left: 80px; }
.css-panel-panrgg svg { height: 225px; }
.css-Perc-1yafd2 { font-weight: 800;
  font-size: 78px;
  color: #FFF;
  opacity: 0.05;
  position: absolute;
  top: 50%;
  padding: 0;
  margin: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 100%; }
.css-Timer-t2wlbq { font-weight: 300;
  font-size: 18px;
  width: 100%;
  color: #FFF;
  opacity: 0.5;
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%; }