@import "../../styles/variables";

.bundle-list {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  ul.chunklist {
    margin-left: -15px;
    margin-right: -15px;
    font-size: 13px;
    font-weight: 300;
    li.chunk {
      border: none;
      padding: 10px 15px;
      &:nth-child(odd) {
        background: #202740;
      }
      &:nth-child(even) {
        background: #212a43;
      }
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        margin-bottom: 0px;
        margin-left: auto;
      }
    }
  }

  ul.card {
    margin: 0px;
    span {
      margin-bottom: 10px;
      display: block;
      font-size: 14px;
    }
    li.bundles {
      padding: 15px;
      padding-bottom: 0px;
      background: $dark;
      border: solid 1px $dark;
      background: $dark;
      margin-bottom: 10px;
      p {
        width: 100%;
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
      .details {
        display: flex;
        align-items: center;
        font-weight: bold;
        text-transform: uppercase;
        .size {
          font-size: 11px;
          margin-left: auto;
          color: #fff;
          padding: 7px 15px;
          border-radius: 2px;
          &.big {
            background: $red;
          }
          &.ok {
            color: $dark;
            background: $blue;
          }
        }
      }
    }
  }
}
