.bundle-list {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  ul.chunklist {
    margin-left: -15px;
    margin-right: -15px;
    font-size: var(--font-body-sm);
    font-weight: 300;
    li.chunk {
      border: none;
      padding: 10px 15px;
      &:nth-child(odd) {
        background: var(--dashboard-bg-main);
      }
      &:nth-child(even) {
        background: var(--dashboard-bg-lighter);
      }
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        margin-bottom: 0px;
        margin-left: auto;
      }
    }
  }

  ul.card {
    margin: 0px;
    span {
      margin-bottom: 10px;
      display: block;
      font-size: 14px;
    }
    li.bundles {
      padding: 15px;
      padding-bottom: 0px;
      background: var(--dashboard-bg-main);
      border: solid 1px var(--dashboard-bg-main);
      background: var(--dashboard-bg-main);
      margin-bottom: 10px;
      p {
        width: 100%;
        color: var(--color-light);
        font-size: 14px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
      .details {
        display: flex;
        align-items: center;
        font-weight: bold;
        text-transform: uppercase;
        .size {
          font-size: 11px;
          margin-left: auto;
          color: var(--color-main);
          padding: 7px 15px;
          border-radius: 2px;
          &.big {
            background: var(--color-error);
          }
          &.ok {
            color: var(--color-dark);
            background: var(--color-success);
          }
        }
      }
    }
  }
}
