.css-center-1xsiq6h { width: 100%;
  padding-top: 90px; }
.css-center-1xsiq6h h1 { font-size: 66px; text-align: center; width: 100%; }
.css-center-1xsiq6h p { text-align: center; color: #FFF; width: 100%; }