$deep-darkest-ocean: #171d31;
$deep-darker-ocean: #141a2e;
$deep-dark-ocean: #1c2237;
$ghost: rgba(37, 45, 71, 0.34);
$red: #ff4a50;
$aqua: #06ffff;
$purple: #dd71f9;
$dark-purple: #8041ee;
$orange: #f55753;
$light-pink: #f476b7;
$pink: #ff2182;
$green: #0df9a3;
$black: #2c2c2c;
$yellow: #fdcf44;
$font-xs: 11px;
$font-sm: 12px;
$font-md: 14px;
